/* Create the Header */
body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 0;
    margin: 0;
}

header {
    color: white;
    background-color: #1f2937 ;
}

h1 {
    font-size: 20px;
    font-weight: bold;
}

button {
    background-color: #3882f6;
    font-weight: bolder;
    color: white;
    font-weight: bold;
    width: max-content;
    border-radius: 16px;
    padding: 5px 20px;
}

ul {   
    list-style: none;
}

.sunset {
    width: 300px;
    height: 250px;
    margin: 10px;
    margin-left: 50px;
}

.header-text-head {
    font-size: 36px;
    margin-bottom: 16px;
}
.header-text-content{
    margin-bottom: 16px;
}
.container {
    display: flex;
    flex-direction: column;
}

.logo-links {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}

.links {
    display: flex;
    gap: 16px;
}

.text-button {
    display: flex;
    flex-direction: column;
    /* flex-shrink: 1;  */
    flex-shrink: 1;
    max-width: 500px;
}

.text-button-img {
    display: flex;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
 
}


.signup-button {
    margin-bottom: 16px;
}

/* The header is complete */

/* Create the text */

.text-body{
    margin: 0;
    padding: 0;
    margin-bottom: 100px;
}
.four-img{
    display: flex;
    gap: 16px;
    justify-content: center;
    flex-wrap: wrap;
    flex: 1;
}

.img-size {
    width: 200px;
    height: 200px;
    border-radius: 16px;
}


.some {
    text-align: center;
}

.item {
    display: inline-block;
    text-align: center;
    width: 200px;
}

.grey-text {
    display: block;
}

.logo-links, 
.text-button-img,
 .grey-text, 
 .text-body {
    padding: 0 200px;
}

.grey-text {
    background-color: #e5e7eb;
    font-style: italic;
    color: #1f2937;
    font-size: 26px;
    padding-top:10px;
    padding-bottom: 20px;
}

.align-right {
    text-align: end;
    font-weight: bold;
    padding-bottom: 10px;
}

.fifth-part {
    display: flex;
    justify-content: center;
    align-items: center;



    gap: 72px;
    margin: 50px 120px;
    background-color: #3882f6;
    color: #e5e7eb;
    border-radius: 8px;
    padding: 5px 10px;
}

.fifth-part button{
    border: 1px solid white;
}

.middle
{
    display: flex;
    justify-content: center;
}

.footer {
    height: 50px;
    background-color: #1f2937;
    color: #e5e7eb;
    text-align: center;
    padding: 25px 0;
}