/* Create the Header */
body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 0;
    margin: 0;
}

header {
    color: white;
    background-color: #1f2937 ;
    padding: 0 200px;
}

h1 {
    font-size: 20px;
    font-weight: bold;
}

button {
    background-color: #3882f6;
    font-weight: bolder;
    color: white;
    font-weight: bold;
    width: max-content;
    border-radius: 16px;
    padding: 5px 20px;
}

ul {   
    list-style: none;
}

.sunset {
    width: 300px;
    height: 250px;
    margin: 10px;
    margin-left: 50px;
}

.header-text-head {
    font-size: 36px;
    margin-bottom: 16px;
}
.header-text-content{
    margin-bottom: 16px;
}
.container {
    display: flex;
    flex-direction: column;
}

.logo-links {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}

.links {
    display: flex;
    gap: 16px;
}

.text-button {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    max-width: 350px;
}

.text-button-img {
    display: flex;
    gap: 48px;
    align-items: center;
    margin-bottom: 60px;
    justify-content: space-between;
    justify-content: center;
}

.signup-button {
    margin-bottom: 16px;
}

/* The header is complete */

/* Create the text */

.text-body{
    margin: 0;
    padding: 0;
}
.four-img{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex: 1;
}

.img-size {
    width: 200px;
    height: 200px;
}


.some {
    text-align: center;
}
